body {
    font-family: Georgia, 'Roboto', sans-serif, Cambria, "Times New Roman";
    font-size: 1em;
    color: #34495e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    color: #34495e;
    text-decoration-color: #34495e;
}

a:hover {
    text-decoration-line: underline;
    color: #34495e;
}

.card-header a {
    color: white;
    /* text-decoration: none; */
}

p a {
    text-decoration-line: underline;
    /* text-decoration-style: solid; */
}

.blog-post-title {
    color: #34495e;
    text-decoration-color: #343434;
    font-size: 28px;
    font-weight: 700
}

.profile-name {
    font-size: 26px;
    font-weight: 500;
}

.list-group-item.active {
    z-index: 2;
    color: rgba(0, 0, 0, .9);
    background-color: #f3f6f8;
    border-color: #f3f6f8;
}

.card {
    border: 0px;
    border-radius: 0rem;
}

.card-header:first-child {
    /* border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0; */
    border-radius: 0rem;
}

.card-header {
    /* padding: .75rem 1.25rem; */
    margin-bottom: 0;
    color: white;
    background-color: #34495e;
    border-bottom: 0px solid #34495e;
}

#app-name {
    display: inline-block;
    font-family: 'Gabriola', 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-size: 1.5em;
}

#logo {
    color: white;
    display: inline-block;
}

h1#app-name {
    color: white;
    font-size: 1.4em;
    font-weight: bold;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: bold;
    /* from 400 to bold */
    color: #34495e;
    /* from #212529 to #34495e */
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    /* from transparent to #f3f6f8*/
    border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: white;
    /*from white to  */
    text-decoration: none;
    background-color: #34495e;
    /* from #34495e to bold */
}

p {
    line-height: 1.87;
    letter-spacing: -.001em;
    color: #212529;
}

.navbar-light .navbar-toggler {
    color: rgba(248, 247, 247, 0.973);
    /* color: rgba(0,0,0,.5); */
    border-color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-light .navbar-nav .nav-item a:hover {
    background-color: #34495e;
    color: #007bff;
}


/* #navbar-menu {
    text-transform: uppercase;
} */

.navbar-light .navbar-nav .nav-item a {
    background-color: white;
    color: #34495e;
}

#user-avatar {
    max-height: 30px;
    max-width: 30px;
    background-color: white;
}

.dropdown-header {
    font-weight: bold;
    color: rgba(0, 0, 0, .9);
    border-top: 1px solid rgba(0, 0, 0, .15);
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    background: #f3f6f8;
}

.dropdown-divider {
    margin: 0%;
}

.btn-app {
    color: #fff;
    background-color: #34495e;
    border-color: #34495e;
}

div#start-post-text.list-group-item {
    padding: 0%;
}

div#start-post-submit.list-group-item {
    padding: .50rem .75rem;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#form-comment.asteriskField {
    display: none;
}

.asteriskField {
    color: red;
}