{% extends "blog/base.html" %} {% load static %} {% load crispy_forms_tags %} {% block head%}{{ form.media }} {% endblock %} {% block title %} Blog - {{ object.title }} {% endblock title %} {% block content %}


<div class="mb-2">
    <div class="shadow p-3 mb-5 bg-white">
        <div class="d-flex">
            <h1 class="blog-post-title d-inline">
                {{ post.title|capfirst }}
            </h1>
            <button class="ml-auto mb-0 d-inline btn btn-default" onclick="window.print();">
                <i class="fa fa-print"></i> Print</button>
            <!-- <a href="#" class="ml-auto mb-0 d-inline ">
                <img src="{% static 'blog/img/pdf.svg' %}" width="30" height="30">
            </a> -->
        </div>
        <div class="media pb-3 pt-3">
            <img class="d-flex mr-3 rounded-circle" src="{{ object.author.profile.image.url }}" width="50" height="50" alt="" />
            <div class="media-body">

                <div class="pb-1">
                    <a class="blog-post-author" href="{% url 'user-posts' post.author.username %}">
                    {{ post.author.first_name }} {{ post.author.last_name }}</a>
                </div>
                <span class="text-secondary">{{ post.publish|date:"M d, h:i a" }}</span>
            </div>
        </div>
        <div class="blog-post-content">
            {{ post.content|safe }}
        </div>
        <!-- flex-row-reverse -->
        <div class="d-flex  bd-highlight mb-1">
            <div class="mr-auto p-2 bd-highlight">
                {% if post.tags.all %}
                <!-- <p class="tags">{{ post.tags.all|join:" | " }}</p> -->
                <span>
                    <i class="fa fa-tags fa-fw " aria-hidden="true"></i>
                </span> {% for tag in post.tags.all %}

                <span class="badge badge-light pl-1">
                    <a style="font-size:1.2em;" href="{% url 'posts-list-by-tag' tag.slug %}">{{ tag|capfirst }}</a>
                </span> {% endfor %} {% endif %}
            </div>
            <!-- <div class="p-2 bd-highlight">&#9998; {{ post.updated|date:"M d, h:i a" }}</div> -->

            <div class="p-2 bd-highlight badge mx-2 badge-pill badge-white">
                <a href="#comment-list" id="#comment-list" class="text-decoration-none">
                    <!-- <i class="fa fa-comments fa-fw" aria-hidden="true"></i> -->
                    <img class="ml-1" src="{% static 'blog/img/speech-bubbles-comment_b.svg' %}" width="25" height="25">
                    <span class="mr-1" style="color: #007bff;">
                            {% with ccount=post.comment_set.all.count %} 
                            {{ ccount }} comment{{ ccount|pluralize }}
                            {% endwith %}
                    </span>
                </a>
            </div>

            <div class="p-2 bd-highlight badge badge-pill badge-white">

                <a href="#" id="#clap" class="clap-btn text-decoration-none" data-href="{{ object.get_clap_api_url }}" data-claps="{{ object.users_clap.count }}">
                    {% if user in post.users_clap.all %}
                    <img class="ml-1" src="{% static 'blog/img/clapping_filled.svg' %}" width="25" height="25">
                    {% else %}
                    <img class="ml-1" src="{% static 'blog/img/clapping.svg' %}" width="25" height="25">
                    {% endif %}
              
                <span class="count-clap mr-1" style="color: #007bff;">
                    {% with count=post.users_clap.count %} {{ count }} clap{{ count|pluralize }} {% endwith %}
                </span>
            </a>
            </div>

            <div class="p-2 bd-highlight">
                <!-- <a href="#"
                data-toggle="modal"
                data-target="#exampleModal"
                data-whatever="@mdo">
                <i class="fa fa-envelope fa-fw" aria-hidden="true"></i></a> -->

                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Share "{{ post.title }}" by e-mail</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Sender:</label>
                                        <input type="text" class="form-control" id="recipient-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                                        <input type="text" class="form-control" id="recipient-name">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Message:</label>
                                        <textarea class="form-control" id="message-text"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Send</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        {% if post.author == user or user.is_superuser %}
        <!-- flex-row--reverse -->
        <div class="card-footer d-flex flex-row bd-highlight">
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">
                <i class="fa fa-pencil fa-fw"></i> Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1 ml-1" href="{% url 'post-delete' object.id %}">
                <i class="fa fa-trash-o fa-lg"></i> Delete</a>
        </div>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
    <div class="mb-4">
        <form id="form-comment" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <div class="form-group"> -->
            <div class="media mb-2">
                <img class="d-flex mr-3 rounded-circle" src="{{ user.profile.image.url }}" width="50" height="50" alt="" />
                <div class="media-body">
                    <legend> Add your comment</legend>
                    {{ comment_form|crispy}}
                </div>
            </div>
            <!-- <textarea class="form-control" rows="1"></textarea> -->

            <div class="d-flex flex-row-reverse bd-highlight">
                <button type="submit" class="btn btn-primary btn-sm">Add comment</button>
                <button type="reset" class="btn btn-secondary btn-sm mr-1">Cancel</button>
            </div>
        </form>
    </div>
    {% else %}
    <div>
        <h5>
            <a href="{% url 'login' %}">Log in to add a comment</a>
        </h5>
    </div>
    {% endif %}

    <div id="comment-list" class="mt-5 pl-2 shadow-none p-3 mb-5 bg-light rounded">
        {% if comments %}
        <p class="mb-4 badge badge-light text-uppercase" style="width: 6rem;">
            <b>{{ post.comment_set.all.count }} comments</b>
            <!-- <b><span class="tag tag-success tag-pill">{{ post.comment_set.all.count }}</span> comments</b> -->
        </p>

        {% for comment in comments %}
        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle bg-white" src="{{ comment.author.profile.image.url }}" width="50" height="50" alt="" />
            <div class="media-body">
                <div>
                    <h5 class="d-inline">
                        <a class="blog-post-author" href="{% url 'user-posts' comment.author.username %}">
                            {{ comment.author.username }}
                        </a>
                    </h5>
                    {% if comment.post.author == comment.author %}
                    <span class="badge badge-primary">
                        Author
                    </span> {% endif %}
                    <span class="ml-1 text-secondary">
                        commented {{ comment.created_on|timesince }} ago
                    </span>
                </div>
                <p class="text-justify">{{ comment.content|safe }}</p>
                <!-- <div class="d-flex flex-row-reverse bd-highlight">
                        <span class="badge badge-secondary">
                        {{ comment.created_on|timesince }} ago
                        </span>
                    </div> -->
            </div>

        </div>
        {% endfor %} {% else %}
        <div>
            <h5>There are no comments</h5>
        </div>
        {% endif %}
    </div>
    <!-- Comment -->
</div>
{% endblock content%}

<script>
    { % block javascript %
    }

    function updateText(newCount) {
        $('.count-clap').text(newCount)
    }
    $('.clap-btn').click(function(e) {
        e.preventDefault()
        var this_ = $(this)
        var clapUrl = this_.attr('data-href')
        var previous_count = parseInt(this_.attr('data-claps')) | 0
        var previous_count = parseInt($('.count-clap').text());
        // var previous_count = parseInt(this_.attr('data-claps')) | 0
        console.log("previous_count " + previous_count)
        $.ajax({
            url: clapUrl,
            method: 'GET',
            data: {},
            success: function(data) {
                console.log(data)
                var claps;
                if (data.liked) {
                    claps = previous_count > 0 ? previous_count - 1 : 0
                    console.log("data.liked claps=" + claps)
                    updateText(claps)
                    this_.html('<img class="ml-1" src="{% static "blog/img/clapping.svg" %}" width="25" height="25">')
                } else {
                    claps = previous_count + 1
                    console.log("data.unliked claps=" + claps)
                    updateText(claps)
                    this_.html('<img class="ml-1" src="{% static "blog/img/clapping_filled.svg" %}" width="25" height="25">')
                }
            },
            error: function(error) {
                console.log(error)
                console.log('error')
            }
        })
    }) { % endblock %
    }
</script>