{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Blog - Password Reset Confirm{% endblock title %}

{% block content %}
    <div class="col-md-8">
        {% if validlink %}
        <form method="POST" novalidate>
            {% csrf_token %}
            <legend class="border-bottom mb-4">
                Password Reset
            </legend>
            {{ form|crispy }}

            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    Change my Password
                </button>
            </div>
        </form>
        {% else %}
        <h3 class="border-bottom mb-4">Password Reset</h3>
        <div class="alert alert-danger">
            The password reset link was invalid, possibly because it has already
            been used. Please
            <a href="{% url 'password_reset' %}">
                request a new password reset</a>.
        </div>
        {% endif %}
    </div>
{% endblock content %}
